# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Credentials, secrets, tokens and other sensitive data
**/spotify-tui/.spotify_token_cache.json
**/spotify-tui/client.yml
